* {
  font-family: 'Rufina', serif;
  font-family: 'Sintony', sans-serif;
}

body {
  font-family: 'Rufina', serif;
  background-color: #fffcf8
}

/* landing page */

.content-wrapper {
  width: 90%;
  display: block;
  margin-left: 10%; 
  margin-right: 3%;
  padding-top: ; 
}
.content-wrapper img{
  width: 95%;
  display: block;
}

.text-wrapper{
  width: 100%;
  position: relative;
  margin-top: -30%;
  margin-left: 20%;
}

h1 {
  font-size: 4vw;
}

.signup-form {
  height: 80vh;
}

.landing {
  height: 93vh;
  display: grid;
  background-color: #fffcf8
}

.landing-2 {
  height: 75vh;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.user-1 {
 background-color: white;
}
.user-2 {
  background-color: white;
  text-align: center;
  padding-top: 30%;
}

.content-wrapper-1 img{
  width: 50%;
  display: block;
  margin-left: auto;  
  margin-right: auto; 
  margin-top: 10%;
  
}

.content-wrapper-2 img{
  width: 70%;
  display: block;
  margin-left: auto;  
  margin-right: auto; 
  margin-top: 15%;
  
}

.landing-3 {
  height: 75vh;
  background-color: rgba(255, 179, 79, 0.685);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.shelter-1 {
  
  text-align: center;
  padding-top: 30%;
}
.nav {
  background-color: transparent;
  padding: 1vh;
}

