* {
  font-family: 'Rufina', serif;
  font-family: 'Sintony', sans-serif;
}

body {
  font-family: 'Rufina', serif;
  background-color: #fffcf8;
  max-width: 100%;
}

/* landing page */

.content-wrapper {
  width: 90%;
  display: block;
  margin-left: 10%; 
  margin-right: 3%;
  padding-top: ; 
}
.content-wrapper img{
  width: 95%;
  display: block;
}

.text-wrapper{
  width: 100%;
  position: relative;
  margin-top: -30%;
  margin-left: 20%;
}

h1 {
  font-size: 4vw;
}

a {
  color: black
}

.heading{
 text-align: center;
}

.signup-form {
  height: 80vh;
}

.landing {
  height: 93vh;
  display: grid;
  background-color: #fffcf8
}

.landing-2 {
  height: 75vh;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
 
.onep {
  text-align: end;
  margin-top: -50%;
  font-size: 1.7rem;
  font-style: bold;
  color: black;
}


.user-1 {
 background-color: white;
}
.user-2 {
  background-color: white;
  text-align: center;
  padding-top: 30%;
}

.content-wrapper-1 img{
  width: 50%;
  display: block;
  margin-left: auto;  
  margin-right: 15%; 
  margin-top: 10%;
  box-shadow: -3.5rem -28px tan
  
}

.content-wrapper-2 img{
  width: 70%;
  display: block;
  margin-left: auto;  
  margin-right: auto; 
  margin-top: 15%;
  
  
}

.box {
  /* width: 70%;
  height: 80%;
  display: block;
  margin-left: 10px;   
  margin-top: 15%;
  background-color: teal; */
}

.landing-3 {
  height: 75vh;
  background-color: rgba(255, 179, 79, 0.685);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.shelter-1 {
  
  text-align: center;
  padding-top: 30%;
}
.nav {
  background-color: transparent;
  padding: 1vh;
}











/* Cards CSS *//

.cards-wrapper {
  position: relative;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  display: block;
  float: left;
  position: relative;
  margin: 0;
  width: 28%;
  height: 0;
  padding: 0 0 28%;
  perspective: 700px;
}

.card-object {
  size: 88%;
  color: #FFF;
  display: block;
  float: left;
  position: absolute;
  top: (100% - @size)/2;
  left: (100% - @size)/2;
  width: @size;
  height: @size;
  transform-style: preserve-3d;
}
  
.front {
  background: #222 url(https://www.dropbox.com/s/8cc22nblu4y4vzi/jenny.jpeg?raw=1) 90% 35%;
  background-size: 115%; 
}
    
    