* {
  font-family: 'Raleway', sans-serif;
  
}

/* :root {
  max-width: 100%;
} */

body {
  font-family: 'Rufina', serif;
  background-color: #ded2c2;
  max-width: 100%;
  margin:0;
  align-items: center;
    
    color: rgba(0, 0, 0, 0.8);
    display: grid;
    font-size: 14px;
    font-weight: 400;
    height: 100vh;
    /* justify-items: center; */
    weight: 100vw;
}

/* landing page */


.content-wrapper {
  width: 100%;
  display: block;
}
.content-wrapper video{
  width: 100%;
  display: block;
}

.text-wrapper{
  width: 100%;
  position: relative;
  margin-top: -30%;
  margin-left: 20%;
}

h1 {
  font-size: 4vw;
}

a {
  color: #272727
}

.heading{
 text-align: center;
}

.signup-form {
  height: 80vh;
}

.landing {
  height: 116vh;
  display: grid;
  
}
.overlay {
  position: absolute; 
  top: 0 ;
  bottom: 0;
  left: 0;
  right:0;
  text-align: center;
  padding-top: 10rem;
  padding-left: 10rem;
  display: flex;
  align-items: center;
  justify-content: left;
  opacity: 0.50;
  font-style: italic;
  font-size: 60px;
  color: #272727;
}


.landing-2 {
  height: 75vh;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
 
.onep {
  text-align: end;
  margin-top: -50%;
  font-size: 1.7rem;
  font-style: bold;
  color: #272727;
}


.user-1 {
 background-color: white;
}
.user-2 {
  background-color: white;
  text-align: center;
  padding-top: 20%;
}

.content-wrapper-1 img{
  width: 50%;
  display: block;
  margin-left: auto;  
  margin-right: 15%; 
  margin-top: 10%;
  box-shadow: -3.5rem -28px #ded2c2
  
}

.content-wrapper-2 img{
  width: 70%;
  display: block;
  margin-left: auto;  
  margin-right: auto; 
  margin-top: 15%;
  box-shadow: 3.5rem 28px whitesmoke
  
  
}

.box {
  /* width: 70%;
  height: 80%;
  display: block;
  margin-left: 10px;   
  margin-top: 15%;
  background-color: teal; */
}

.landing-3 {
  height: 75vh;
  background-color: #ebb48e;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.landing-4 {
  height: 75vh;
  background-image: url("/images/donate.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  
}
.landing-4 h1{
  text-align: center;
  padding-top: 14rem;
  font-size: 3rem;

}
.shelter-1 {
  
  text-align: center;
  padding-top: 30%;
}
.nav {
  background-color: #ded2c2;
  padding: 1vh;
  
}
.navbar {
  font-size: 1.3rem;
  padding-right: 2rem;
  padding-left: 2.5rem;
  
  
}

/* SIGN UP SHELTER  */

.signup-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: whitesmoke;
}

.signup {
  text-align: center;


}

.form-group {
  justify-content: center
}

.login {
  text-align: center;
  justify-content: center
}

.login h1 {
  color: #e7daca;
}

.login-form{
 max-width: 50%;
 margin-left: auto;
 background-color: #ebb28e;
 position: absolute;
 top: 50%;
 left: 28%;
 -ms-transform: translateY(-50%);
 transform: translateY(-50%);
  
}

.form-group {
  color: #272727
}

.form-control{
  justify-content: center;
  min-width: 80%;
  
}
.signup h1 {
  color: #ebb28e;
  font-size: 4rem;
  margin: 1rem 2rem;

}

.signup-form {
  max-width: 50%;
  background-color: #e7daca;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow-y: auto;


}

input {
  display: block;
  margin: 0 auto;
  background-color: whitesmoke
}


/* SIGNUP USER */
.signup-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: whitesmoke;
}

.signup-user {
  text-align: center;
}


.form-group {
  justify-content: center
}

.login-user {
  text-align: center;
  justify-content: center
}

.login-user h1 {
  color: #e7daca;
}
.login-user p {
  margin: .5rem 1rem;
  color: #272727
}

.login-form-user {
 max-width: 50%;
 margin-left: auto;
 background-color: #ebb28e;
 position: absolute;
 top: 50%;
 left: 28%;
 -ms-transform: translateY(-50%);
 transform: translateY(-50%);
  
}

.form-group {
  color: #272727
}

.form-control{
  width: 60%;
  
}
.signup-user h1 {
  color: #ebb28e;
  font-size: 4rem;
  margin: 1rem 2rem;

}

.signup-form-user {
  max-width: 50%;
  background-color: #e7daca;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
 


}




/* ADD ANIMAL PAGE */

.form-group-add {
  text-align: center;
  
}

select {
  max-width: 80%
}



/* ANIMAL DETAIL CARDS *//



.box {
  width: 800px;  
  margin: auto;
  position: relative;
  
}

#card-container {
  position: relative;
  margin: 3.5rem;
  width: 20rem;
  height: 20rem;
  z-index: 1;
  float: left;
  perspective: 1000px;
  
}

#card {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  transform-style: preserve-3d;
  transition: all .8s linear;
  box-shadow: 5px 5px 15px rgba(0,0,0, .3);
  /* */
}

#card:hover {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 15px rgba(0,0,0, .3);
  }


.face {
  text-align: center;
  padding-top: 6rem;
  padding-bottom: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #d08a55
  
}

/* .face h1 {
  font-size: .5rem;
  color: #8f8f8f;
}
.face h2 {
  font-size: .3rem;
  margin-top: -2rem;
  color: #8f8f8f;
} */
.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  opacity: 100;
  background: #ebb28e;
}

.back-face {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  text-align: center;

  background-color: #d08a55;
  
}

.info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 50.92%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 4% 15% 15%;
}

.info-title {
  font-size: 3vw;
  font-family: 'Archivo Black', sans-serif;
  text-align: left;
  padding: 0;
  margin: 3rem 0 1rem 0;
  text-align: center;
  display: block;
  width: 100%;
}
.info-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3% 0 0;
  margin: 3% 0 0;
  border-top: 2px solid #272727;
}
.info-content-item {
  color: #222;
  font-size: .75vw;
  line-height: 1;
  text-align: center;
  display: inline-block;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #272727;
}
.info-content-item span {
  display: block;
  font-weight: bold;
  font-size: 1.1vw;
  margin-top: 4px;
  text-transform: none;
  color: #222;
}




  
 /*BUTTON TO ANIMAL DETAIL */ 
.btn-2 {
  letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
backface-visibility: hidden;
border: 1px solid #272727;
bottom: 0px;
content: " ";
display: block;
margin: 0 auto;
position: relative;
transition: all 280ms ease-in-out;
width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
backface-visibility: hidden;
border-color: #272727;
transition: width 350ms ease-in-out;
width: 70%;
}

.btn-2:hover:before {
bottom: auto;
top: 0;
width: 70%;
}    

/* ANIMAL DETAILS */
.row {
  display: flex;
}

.column {
  flex: 50%;
}

#wrapper { 
  width: 700px;
  margin: 2rem auto; 
  overflow: auto;
  background-color: #ebb28e;
  border-radius: 1px;
  box-shadow: 5px 5px 20px;
}


#my-icon{
  margin: 20% 5%;
  position: relative;
  float: left; 
}

#my-icon img{
  width: 200px;
  height: 200px;
  border-radius: 100px; 
}

#my-info{
  margin: 50px; 
  font-family: Sans-Serif; 
  color: white; 
  line-height: 150%; 
}

#my-info h1{
  text-transform: uppercase; 
  text-align: center; 
  font-style: italic;
}




/* TINDER APP  */
.heart-wrapper {
  text-decoration: none;
  width: 70px;
  height: 70px;
  position: relative;
  margin:1rem auto;
  background-color: white;
  border-radius: 40px;
  
  -webkit-box-shadow: 0px 3px 29px 0px rgba(160, 160, 160, 1);
  -moz-box-shadow: 0px 3px 29px 0px rgba(160, 160, 160, 1);
  box-shadow: 0px 3px 29px 0px rgba(160, 160, 160, 1);
  transition: 0.3s;
}
.heart-wrapper-2 {
  width: 70px;
  height: 70px;
  position: relative;
  margin: auto;
  background-color: white;
  border-radius: 40px;
  
  -webkit-box-shadow: 0px 3px 29px 0px rgba(160, 160, 160, 1);
  -moz-box-shadow: 0px 3px 29px 0px rgba(160, 160, 160, 1);
  box-shadow: 0px 3px 29px 0px rgba(160, 160, 160, 1);
  transition: 0.3s;
}
.heart-wrapper:hover {
  -webkit-box-shadow: 0px 2px 15px 0px rgba(117, 117, 117, 1);
  -moz-box-shadow: 0px 2px 15px 0px rgba(117, 117, 117, 1);
  box-shadow: 0px 2px 15px 0px rgba(117, 117, 117, 1);
}
.heart-wrapper-2:hover {
  -webkit-box-shadow: 0px 2px 15px 0px rgba(117, 117, 117, 1);
  -moz-box-shadow: 0px 2px 15px 0px rgba(117, 117, 117, 1);
  box-shadow: 0px 2px 15px 0px rgba(117, 117, 117, 1);
}
.fa-heart {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #ff8484;
  transition: 1s;
}

.fa-heart:hover {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  animation-name: example;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  color: red;
  transition: 1s;
}

.icon-list {
  margin: auto;
  display: grid;
  
}
.fa-times {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #ff8484;
  transition: 1s;
}
.background-heart{
  background-color:white;
}
.background-heart::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 38px;
  color: red;
  transition: 1s;
  z-index: -1;
  animation: fill-heart 1s;
}

.background-heart::before {
  content: "";
  width: 60px;
  height: 60px;
  opacity: 0.2;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 200px;
  animation: circle-expand 1s;
}

@keyframes fill-heart {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes circle-expand {
  0% {
    width: 60px;
    height: 60px;
    opacity: 1;
  }
  40% {
    width: 0px;
    height: 0px;
    opacity: 0.2;
  }
  80% {
    width: 60px;
    height: 60px;
    opacity: 0.2;
  }

  100% {
    width: 60px;
    height: 60px;
    opacity: 0.2;
  }
}
/* Add Animals form */

/* body {
  align-items: center;
  
  color: rgba(0, 0, 0, 0.8);
  display: grid;
  font-size: 14px;
  font-weight: 400;
  height: 100vh;
  justify-items: center;
  weight: 100vw;
} */
.signup-container {
  display: grid;
  grid-template-areas: "left right";
  min-width: 1100px;
  min-height: 500px
}
.left-container {
  background: #d08a55;
  overflow: hidden;
  padding: 40px 0 0 0;
  position: relative;
  text-align: center;
  width: 350px;
  box-shadow: 5px 5px 15px rgba(0,0,0, .3);
}
.left-container h1 {
  color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  font-size: 24px;
}
.left-container h1 i {
  background: transparent;
  border-radius: 50%;
  color: #807182;
  font-size: 24px;
  margin-right: 5px;
  padding: 10px;
  transform: rotate(-45deg);
}
.left-container .puppy-2 {
  bottom: -5px;
  position: absolute;
  text-align: center;
}

.puppy {
  /* height: 2rem; */

  /* justify-content: center; */
  margin:0
}
/* .left-container .puppy:before {
  background: transparent;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.4;
  position: absolute;
  width: 100%;
  z-index: 1; */
/* } */
.left-container img {
  
  max-width: 80%;
}
.right-container {
  background: #ebb28e;
  display: grid;
  grid-template-areas: "." ".";
  width: 800px;
}
.right-container h1:nth-of-type(1) {
  color: rgba(0, 0, 0, 0.8);
  font-size: 28px;
  font-weight: 600;
}
.right-container .set {
  display: flex;
  justify-content: space-between;
  margin: 0 0;
}
.right-container input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 38px;
  line-height: 38px;
  padding-left: 5px;
}
.right-container input, .right-container label {
  color: rgba(0, 0, 0, 0.8);
  text-align: center
}
.right-container header {
  padding: 40px;
  text-align: center
}
.right-container label, .right-container input, .right-container select{
  min-width: 176px;
  max-width: 176px
}
.right-container .pets-photo {
  align-items: center;
  display: grid;
  grid-template-areas: ". .";
}
.right-container .pets-photo button {
  border: none;
  border-radius: 50%;
  height: 38px;
  margin-right: 10px;
  outline: none;
  width: 38px;
}
.right-container .pets-photo button i {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
}
.right-container .pets-weight .radio-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.right-container footer {
  align-items: center;
  background: #fff;
  display: grid;
  padding: 5px 40px;
}
.right-container footer button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 50px;
  line-height: 38px;
  width: 100px;
  border-radius: 19px;
  font-family: 'Montserrat', sans-serif;
}
.right-container footer #back {
  transition: 0.2s all ease-in-out;
  background: #ebb48e;
  border: 1px solid #272727;
  color: #272727;
}
.right-container footer #back:hover {
  background: #d08a55;
  color: #272727;
}
.right-container footer #next {
  background: #ebb48e;
  border: 1px solid #272727;
  color: #272727;
}
.right-container footer #next:hover {
  background: #d08a55;
}
.pets-name label, .pets-breed label, .pets-birthday label, .pets-gender label {
  display: block;
  margin-bottom: 5px;
}
/* .pets-weight label, .pets-spayed-neutered label {
  display: flex;
  flex-direction: row;
} */

.pets-weight select, .pets-spayed-neutered select {
  max-width: 176px
}
.radio-container {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: inline-block;
  padding: 5px;
}
.radio-container label {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: 0.2s all ease-in-out;
  width: 80px;
}

.signup-all {
  align-items: center;
  
  color: rgba(0, 0, 0, 0.8);
  display: grid;
  font-size: 14px;
  font-weight: 400;
  height: 100vh;
  justify-items: center;
  weight: 100vw;
}

.puppy-3 {
  bottom: -35px;
  position: absolute;
  text-align: center;
}

.left-container p{
  font-size: .9rem;
  margin-top: .5rem;
}

.right-container-user {
  overflow: hidden;
  padding: 1rem 0 0 0;
  position: relative;
  text-align: center;
}

